* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: inherit;
  border:none;
  box-shadow:none;
  border-radius:0;
  padding:0;
  overflow:visible;
  cursor:pointer;
}

.ag-theme-quartz {
  --ag-active-color: var(--theme-light-success-main);
}

:root {
  --theme-light-primary-main: #41444E;
  --theme-light-primary-light: #575A67;
  --theme-light-primary-dark: #32323A;
  --theme-light-secondary-main: #fff3ad;
  --theme-light-success-main: #02C75A;
  --theme-light-info-main: #608CEF;
  --theme-light-error-main: #FF5557;
  --theme-light-background-default: #FFFFFF;
  --theme-light-background-paper: #F9F9F9;
  --theme-light-text-primary: #FFFFFF;
  --theme-light-divider: rgba(0, 0, 0, 0.12);
}