* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: inherit;
  border:none;
  box-shadow:none;
  border-radius:0;
  padding:0;
  overflow:visible;
  cursor:pointer;
}

:root {
  --theme-dark-background: #41444e;
  --theme-dark-background-light: #575a67;
  --theme-dark-background-dark: #31323a;
  --theme-dark-text: #ffffff;
  --theme-dark-text-highlight: #fff3ad;
  --theme-dark-text-subsidary: #999999;
  --theme-dark-text-positive: #bbffad;
  --theme-dark-text-negative: #ffadad;
  --theme-dark-border: #262b35;
  --theme-light-background-dark: #c6c6c6;
  --theme-light-text: #000000;
  --theme-light-text-highlight: #03c75a;
  --theme-light-text-subsidary: #333333;
  --theme-light-border: #c6c6c6;
  --theme-light-border-highlight: #03c75a;
  --theme-light-tag-default: #c6c6c6;
  --theme-light-tag-highlight: #03c75a;
}